{% extends 'blog/base.html' %}
{% block content %}
  <hr>
    <section class="row">

      <h1><a href='#'> {{ blog.blog_title }}<a></h1>
    </section>
    <section class="row">
      <div class="media">
            <img src="{{ blog.author.userprofile.profile_picture.url }}" alt="pavan" class="mr-3 rounded-circle circ1">
            <div class="media-body">
              <h3>{{ blog.author.username }}</h3>
              <small><i>{{ blog.published_date }}</i> </small>
            </div>
        </div>

    </section>
    <hr>
    <p>{{ blog.blog_content | safe }}</p>
    {% if request.user.is_authenticated and object.author == user %}
    <a class="btn btn-danger" href="{% url 'blogdelete' object.id %}">Delete</a>
    <a class="btn btn-secondary" href="{% url 'blogupdate' object.id %}">Update</a>
    {% endif %}

{% endblock %}
