{% extends 'blog/base.html' %}
{% block content %}
  {% for blog in blogs %}

    <section class="row">
      <h1><a href="{% url 'blogdetail' blog.id %}"> {{ blog.blog_title }} <a></h1>
    </section>
    <section class="row">
      <img class="img-fluid rounded-circle account-img" src="{{ blog.author.userprofile.profile_picture.url }}" height='0%' width="20%">
      <div>
        <p><a href="#">{{ blog.author.username }}</a></p>
        <p>{{ blog.published_date }}</p>
      </div>
    </section>
    <hr>

  {% endfor %}
{% endblock %}
