{% extends 'blog/base.html' %}
{% block content %}
  {% for blog in blogs %}
    <section class="row">
      <h1>{{ blog.blog_title }}</h1>
    </section>
    <section class="row">
      <img class="img-fluid rounded rounded-circle" src="http://localhost:8000/media/profile_picture/IMG-20190317-WA0003.jpg" height='7px' width="10%" >
      <div>
        <p><a href="#">{{ blog.user.username }}</a></p>
        <p>{{ blog.published_date }}</p>
      </div>
    </section>
    <hr>
    <div>
    {{blog.blog_content}}
    </div>
  {% endfor %}
{% endblock %}
