<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>OneBlog - Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Main Stylesheets -->
  {% load static %}
	<link rel="stylesheet" href="{% static 'blog/style.css'%}"/>

		<style media="screen">
  	.btn-hover{
		background:white;
		color: purple;
		border: none;
		}
		.btn-hover:hover{
		background-color: purple;
		color: white;
		text-align: center;
		border: none !important;
		}
		</style>
</head>

<body>

  <header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">

			<a class="navbar-brand ml-lg-4 h4" href="{% url 'blog' %}">OneBlog</a>
			<!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler border border-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto mr-4">
			{% if request.user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blogcreate' %}">Create Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'profile'%} ">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
			{% else %}
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'blogcreate' %}">Create Blog</a>
	      </li>
				<li class="nav-item">
	        <a class="nav-link" href="{% url 'login'%} ">Login</a>
	      </li>
				<li class="nav-item">
	        <a class="nav-link" href="{% url 'register' %}">Create profile</a>
	      </li>
				{% endif%}
    </ul>
  </div>
    </nav>
  </header>


	<section class="blog-section spad mt-4">
		<div class="container">
			<div class="row">
    					<!-- Blog item -->
                <div class="blog-text text-box text-white">
                  <h3 class="text-center display-4">Hello World!.</h3>
                  <p class="text-justify text-center font-weight-bold">
											OneBlog is the Blog sharing application, we can read blogs based on your interest and you can write blog and post(share) here.
											This application created for sharing thoughts and your view or knowledge of the something,
											whoever visit this site please write one blog for our
											community. Enjoy getting some knowledge on reading our blogs here.

										</p>
											<div class="text-center py-2">
										<a href="{% url 'blogcreate' %}"
											<button type="button" class="btn btn-lg  col-lg-2 col-md-12 mx-4 btn-hover">Create Blog</button> </a>
										<a href="{% url 'bloglist' %}"
											<button type="button" class="btn btn-lg  col-lg-2 col-md-12 btn-hover">Read Blogs</button></a>
										</div>
                </div>
              </div>
        </div>

			<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-3 col-md-3 col-sm-2">
									<!-- Blog item -->
									<div class="blog-item">
											<img src="{% static 'blog/image2.jpg' %}" alt="picture" class="img-fluid img1">
											<div class="blog-text text-box text-white">
												<h3>The best online game is out now!</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor </p>
												<div class="media">
															<img src="{% static 'blog/pic.jpg'%}" alt="pavan" class="mr-3 rounded-circle circ1">
															<div class="media-body">
																<h3>Pavan Kumar </h3>
																<small><i>February 19, 2016</i> </small>
															</div>
													</div>
											</div>
										</div>
						</div>

										<div class="col-xl-4 col-lg-3 col-md-3 col-sm-2">
												<div class="blog-item">
											<img src="{% static 'blog/image1.jpg' %}" alt="picture" class="img-fluid img1">
												<div class="blog-text text-box text-white">
												<h3>The best online game is out now!</h3>
												<div class="media">
															<img src="{% static 'blog/pic.jpg'%}" alt="pavan" class="mr-3 rounded-circle circ1">
															<div class="media-body">
																<h3>Pavan Kumar </h3>
																<small><i>February 19, 2016</i></small>
															</div>
													</div>
											</div>
										</div>
									</div>

							<div class="col-xl-4 col-lg-3 col-md-3 col-sm-2">
									<div class="blog-item">
											<img src="{% static 'blog/image2.jpg' %}" alt="picture" class="img-fluid img1">
											<div class="blog-text text-box text-white">
												<h3>The best online game is out now!</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor </p>
												<div class="media">
															<img src="{% static 'blog/pic.jpg'%}" alt="pavan" class="mr-3 rounded-circle circ1">
															<div class="media-body">
																<h3>Pavan Kumar </h3>
																<small><i>February 19, 2016</i> </small>
															</div>
													</div>
											</div>
										</div>
						</div>

					</div>
			</div>
			<div class="container">
				<div class="row">
	    					<!-- Blog item -->
	                <div class="blog-text text-box text-white">
	                  <h6 class="text-left display-4">About us!.</h6>
	                  <p class="text-justify text-center font-weight-bold">
											<p> OneBlog application developing with python and django framework for learning django.
											I decide to make it complete application, app still developing any sugestions, improvments, errors
										 you find letus know
										and if you like contribute code in github feel free to reach me by clicking footer socialmedia links. </p>
	                </div>
	              </div>
	        </div>
	</section>

	<footer class="footer-section">
		<div class="container pb-3">
			<div class="footer-social d-flex justify-content-center">
				<a href="https://www.linkedin.com/in/kpavankumar623/"><i class="fa fa-linkedin"></i></a>
				<a href="https://twitter.com/kpavankumar623"><i class="fa fa-twitter"></i></a>
				<a href="https://github.com/kpavankumar623/OneBlog"><i class="fa fa-github"></i></a>
				<a href="https://www.facebook.com/kpavankumar623"><i class="fa fa-facebook"></i></a>
			</div>
		</div>
	</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
