{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<hr>
<div class="content-section">

   <div class="media">
          <img src="{{ user.userprofile.profile_picture.url }}" alt="pavan" class="mr-3 rounded-circle circ1">
          <div class="media-body">
            <h3>{{ user.username }}</h3>
            <h6><i>{{ user.email }}</i> </h6>
          </div>
      </div>
   <!-- FORM HERE -->
   <hr>
   <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <legend>Profile Details</legend>
     {{ u_form|crispy }}
     {{ p_form|crispy }}
     <button class="btn btn-outline-info" type="submit">Update</button><hr>
   </form>
 </div>
{% endblock %}
